.footercontent2{
    vertical-align: bottom;
}
.item, .timebox{
    border-radius: 2px 2px 2px 2px;
}
.hover{
    border: solid 1px #999999;
}
.selected{
    border: 2px solid #727272;
    color: #585858;
    box-shadow: 0 3px 4px 0 #ccc;
}
.owl-item{
    width: 84px !important;
}
.svgicon svg{
    width: 14px;
    height: 14px;
    fill: #cccccc;
}
.svgicon svg:hover{
    fill: #333333;
}
.hscrollcontroller{
    z-index: -10;
}
.footer{
    box-shadow: 0 0 3px 0 #aaa;
}
.footercontent{
    width: calc(100% - 20px);
}
.previous{
    position: relative !important;
    left: -59px !important;
    top: -40px !important;
}
.next{
    position: relative;
    left: 550px;
    top: -42px;
}
#owl-two>.previous{
    position: relative !important;
    top: -22px !important;
}
#owl-two>.next{
    position: relative;
    top: -23px;
}
.carousel-cell{
    margin-right: 16px !important;
}
@media (max-width: 768px) {
    .flickity-prev-next-button{
        display: none !important;
    }
}
.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
}
.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
}

@keyframes slideRight {
    0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }

    100% {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    }
}
@keyframes slideLeft {
    0% {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    }

    100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
}
.afterRightSlide{
    transform: translateX(-100%);
}
.afterLeftSlide{
    transform: none;
}
.disabledBtn{
    background-color: rgba(56, 152, 236, 0.5) !important;
}
.enabledBtn{
    background-color: rgba(56, 152, 236) !important;
}
@media (min-width: 768px) {
    .desktopbuttonscontainer{
        padding-top: calc( 4% - 8px ) !important;
    }
    .footerinfotablecontainer{
        padding-top: 3% !important;
    }
}